

/*
  PSUDEO CODE CRAZYNESS - Not worry abot syntax just getting stuff out of my head
  
  - COLOR -------------------------------
  
  var 2117 C = ""
  var 2117 U  = ""
  var 2117 RGB = ""
  var 2117 HEX = ""
    
  var 2116 C  = ""
  var 2116 U  = ""
  var 2116 RGB  = ""
  var 2117 HEX  = ""
    
  var 2115 C  = ""
  var 2115 U  = ""
  var 2115 RGB  = ""
  var 2117 HEX  = ""
    
  var 2114 C  = ""
  var 2114 U  = ""
  var 2114 RGB  = ""
  var 2114 HEX  = ""
  
  var 2113 C  = ""
  var 2113 U  = ""
  var 2113 RGB  = ""
  var 2113 HEX  = ""
  
  -----------------------------------
  
  
  var Box {
    border:1px solid $2116
    border-radius: 5px;    
  }

  var InsideML {
    border:3px solid $2116
    border-radius: 5px;
    background:pattern;
  }

  var Disk {
    bacground:$2116;

    var database {
      centered...
    }

    var Logo {
      centered...
    }

  }












<div class="logo"><div>

<div class="box"><div>

<div class="inside-marklogic-box"><div>

<div class="disk-purple"><div>
<div class="disk-white"><div>
<div class="disk-small"><div>
<div class="disk-features"><div>

<div class="organization"><div>

<div class="logo"><div>






  
  
  
  
  
  
  
  
  
